@import url('https://fonts.googleapis.com/css2?family=SoDoSans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

:root {
    --primary-txt-clr: #272727;
    --secondary-txt-clr: white;
    --primary-green: #203c34;
    --secondary-green: #00754a;
    
    --navbar-font-primary: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;


    --textSize1: 13px;
    --textSize2: 14px;
    --textSize3: 16px;
    --textSize4: 19px;
    --textSize5: 20px;
    --textSize6: 22px;
    --textSize7: 24px;
    --textSize8: 28px;
    --textSize9: 36px;
}

body {
    color: var(--primary-txt-clr);
}

.navbar-logo svg {
    width: 50px;
    height: 50px;
    margin: 15px;
}

.navbar  {
    background-color: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: var(--primary-txt-clr);
    font-family: var(--navbar-font-primary);
    font-weight: bold;
    font-size: var(--textSize2);
}

.navbar-contents {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-contents ul {
    margin: 0; /* Add this line to remove the default margin */
    padding: 0;
    list-style-type: none;
    display: flex;
}

.navbar-contents li {
    list-style: none;
    padding: 32px 20px;
    text-transform: uppercase;
    margin-right: 15px;
}

.navbar-contents li a {
    text-decoration: none;
    color: var(--primary-txt-clr);  
}

.navbar-contents ul li:last-child {
    margin-right: 0; 
}

.navbar-contents li:nth-child(2){
    border-bottom: 4px solid var(--secondary-green);
}

.navbar-contents .right-side {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.right-side .find-a-store {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: var(--textSize1);
    padding: 0px 50px;
}

.navbar-right-buttons .sign-in{
    margin-right: 15px;
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid var(--primary-txt-clr);
    background: none;
    font-weight: bold;
}

.navbar-right-buttons .join-now{
    margin-right: 40px;
    padding: 5px 15px;
    border-radius: 20px;
    background: var(--primary-txt-clr);
    color: var(--secondary-txt-clr);
    font-weight: bold;
}

.navbar-toggle {
    display:none;
    position: absolute;
    top: 2rem;
    right: 1rem;
    background: none;
    border: none;
}

@media only screen and (max-width: 991.98px) {

.navbar-toggle {
    display: block;
}

ul .left-side{
    width: 100%;
}

.navbar-contents {
    position:absolute;
    top:80px;
    right: 0px;
    width: 0px;
    background-color: var(--secondary-txt-clr);
    overflow: hidden;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start; 
}

.navbar-contents.active {
    width: 80%;
}

.navbar-contents .left-side{
    width: 100%;
    margin: 0px;
}

.navbar-contents .left-side ul {
    flex-direction: column;
}

.navbar-contents .left-side ul li{
    margin: 0px;
    padding: 25px 0px; 
    margin: 0px 35px; 
    font-weight: 500;
    font-size: var(--textSize4);
    text-transform: none;
}

.navbar-contents .left-side ul li:nth-child(2){
    border-bottom: none;
}

.navbar-contents .left-side ul li:last-child{
    border-bottom: 1px solid grey;
}

.navbar-contents .right-side {
    flex-direction: column;
}

.right-side .navbar-right-buttons {
    order: 1; /* Change the order */
    margin: 20px;
    padding-top: 10px;
}

.navbar-contents .right-side {
    align-items: start;
}

.right-side .find-a-store {
    order: 2; /* Change the order */
    justify-content: flex-start;
    padding: 0px;
    margin: 10px 20px;
}

}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    /* Your CSS styles for extra small devices */
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) {
    /* Your CSS styles for small devices */
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) {
    /* Your CSS styles for medium devices */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Your CSS styles for large devices */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Your CSS styles for extra large devices */
}
